<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fyjf.all"
    android:versionCode="101"
    android:versionName="1.0.1">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name=".app.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">

        <meta-data android:value="596042ab07fe65207c0000eb" android:name="UMENG_APPKEY"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${CHANNEL_VALUE}"/>
        <meta-data
            android:name="CHANNEL_ID"
            android:value="${CHANNEL_ID}"/>

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.AtallQueryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ContactUsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ReportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activity.overdue.OverduePDFActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.overdue.OverdueActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activity.overdue.OverdueProgressActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ReportPDFActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.report.ReportImagesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.report.CreditReportActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.report.ReportAnalysisActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.report.ReportDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activity.report.ReportMsgActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.BankAnalysisActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.UpdatePwdActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.AnalysisPDFActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ImageActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".activity.overdue.OverdueMsgActivity"/>

        <activity android:name=".activity.overdue.ProgressImgsActivity"/>
    </application>

</manifest>